<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
  </head>
  <body>
    <div>
        <nav>
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contacts</a></li>
            <li><a href="/checkout">Checkout</a></li>
        </nav>
    </div>
    <h1>This is Home page</h1>
    <div>
      <ul>
        <li>1. Apple</li>
        <li>2. Banana</li>
        <li>3. Orange</li>
        <li>4. Grapes</li>
        <li>5. Pineapple</li>
      </ul>
    </div>
  </body>
</html>